.container {
  // width: 500px;
  // height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  // display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 20px;
}

.div-tab-content {
  margin: 8px;
}
.imagen-home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.color-texto {
  color: #d8ae5e;
}

.contenedor-global {
  flex-direction: row;
  display: flex;
}

.contenedor-interno {
  margin: 8px auto 8px auto;
  flex-direction:column;
}

.imagencorreo {
  width: 57px;
  height: 44px;
}

.imagentwitter {
  width: 50px;
  height: 45px;
}

.imageninstagram {
  width: 52px;
  height: 47px;
}