.upper-menu {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    max-height: 100%;
    place-content: space-between;
    align-items: center;
  }
  
  button {
    margin-right: 10px;
  }

  .mat-header-row {
    background-color: #d8ae5e;
}

.tamanofuente {
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.colorbotones {
  color: #d8ae5e;
}

.colorfiltro {
  color: #d8ae5e;
}

