// https://material.angular.io/guide/theming-your-components

.mat-sidenav-container {
  height: 100%;
}

// https://github.com/angular/material2/blob/master/src/lib/core/style/_variables.scss

$sidenav-width: 320px; // 240px;

.mat-sidenav {
  width: $sidenav-width;
}

.toolbar-title {
  margin: 0 16px 0 16px;
  color: white;
}

.mat-subheader {
  font-size: 18px;
  font-weight: 900;
}

.app-nav-list-icon {
  margin: 0 12px 0 12px;
  color: #d8ae5e;
}

.color {
  background-color: #d8ae5e;
}

.tipocolor {
  color: white;
}